body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: 'Poppins', sans-serif;
}
a, .btn-primary {
    background-color: #4e44ce !important;
    color: #fff !important;
    border-radius: 8px;
}
.card {
    background: #1e1e1e !important;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
